$menuSelector: '#theMenu';
$menuWidth: 75%;
$animationDuration: 350;
$responsiveView: 585px;

header{
	.mobileNav{
		display:none;
	}
}

@media only screen and (max-width: #{$responsiveView}) {

	body{
		position:relative;
		overflow-x:hidden;

		&.slideInLeft{
			transition: left #{$animationDuration}ms ease-in-out;
			left:0;
			&.animateIn{
				overflow:hidden;
				left:#{$menuWidth};
			}
		}

		&.slideInRight{
			transition: right #{$animationDuration}ms ease-in-out;
			right:0;
			&.animateIn{
				right:#{$menuWidth};
			}
		}
	}
	
	header{

		z-index:9999;
		transition: all .4s ease-in-out;
		top:-100%;
		
		nav{
			&#{$menuSelector}{
				top:0;
				position:absolute;
				z-index:-1;
				height:10000px;
				li{
					width: 100%;
					display:block;
					clear: both;
				}

				&:after{
					clear:both;
					content:'&nbsp;';
					height:1px;
					width:1px;
					visibility:hidden;
					display:block;
					font-size:0;
				}
			}

			&.gz-resp-menu{
				left: -#{$menuWidth};
				width: #{$menuWidth};
			}

			&.gz-opposite{
				left:inherit;
				right: -#{$menuWidth};
			}
		}
		
		.mobileNav{
			display:block;
		}
	}

}